.video-background {
    background: gray;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -99;
        background: url(https://wallpaperscraft.com/image/road_night_lights_88183_225x300.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

}

.video-foreground,
.video-background iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    pointer-events: none;
    min-width: 100%;
    min-height: 100%;
    @include phone-and-tablet {
        display: none;
    }
}


@media (min-aspect-ratio: 16 / 9) {
    .video-foreground {
        height: 300%;
        min-height: 600px;

    }
}


@media (max-aspect-ratio: 16 / 9) {
    .video-foreground {
        width: 300%;
        min-width: 600px;

    }
}
